.ChatRoomItemOuter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.ChatRoomItemOuter:hover {
  background-color: #F6F6F6;
}

.ChatRoomItem {
  width: 90%;
  border-bottom: 1px solid #D7D7D7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.ChatRoomItem * {
  pointer-events: none;
}

.ChatRoomItem-Info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 10px;
}

.ChatRoomItem-BasicInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ChatRoomItem-Partner {
  color: #222222;
}

.ChatRoomItem-RecentMessage {
  font-weight: normal;
  color: #888888;
  font-size: 14px;
}

.ChatRoomItem-RecentMessage-Info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.ChatRoomItem-Image-Wrapper {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #d7d7d7;
  overflow: hidden;
}

.ChatRoomItem-Image-Wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.RecentMessage-Time {
  font-weight: normal;
  color: #888888;
}

.RecentMessage-Count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2AC1BC;
  font-weight: normal;
  color: #ffffff;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}