.Town-Add-Modal-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Town-Add-Modal-Desc {
  margin-bottom: 10px;
}

.Town-Add-Modal-Content > input {
  width: 100%;
  border: 1px solid #D7D7D7;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
}

.Town-Add-Modal-Content > input:focus {
  border: 1px solid #2AC1BC;
}

.Town-Add-Button-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Town-Add-Button-Wrapper > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

