.FooterOuter {
    transition: all 0.3s ease-in;
}

#Footer-Inner {
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--Hheight);
    background-image: var(--header);
    transition: all 0.3s ease-in;
}


