.AuthContainerOuter {
    position: relative;
    width: 100%;
    height: 100%;
}
#Auth-Page {
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
}
#Auth-Header {
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: center;

    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: var(--gray);
}

#Auth-Content {
    position: relative;

    width: 95%;
    height: 95%;
    background-color: var(--app);
}

#Auth-Arrow {
    position: absolute;
    margin-left: 250px;
    cursor: pointer;
}

#Auth-Under {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#Auth-Under-Content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;       
}

#error {
    font-size: 12px;
    font-weight: 800;
    color: var(--red);
    margin: 10px;
}

#myid {
    margin: 15px;
}

#isLogin {
    cursor: pointer;
}