.CardOuter{
    width: var(--cardX);
    height: 200px;
}


.product-images {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    transition: all .3s ease-in;
}

.product-images:hover {
    box-shadow: 2px 2px 20px black;
}

.LikeButton-Inner {
    transform: scale(0.8);
}

.LikeButton-Inner:hover {
    cursor: pointer;
}