.Town-Remove-Modal-Container.disappear {
  visibility: hidden;
}

.Town-Remove-Modal-Container.appear {
  visibility: visible;
}

.Town-Remove-Modal-Wrapper {
  position: absolute;
  z-index: 10;
  height: var(--baseY);
  width: var(--baseX);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.Town-Remove-Modal.disappear {
  visibility: hidden;
  animation: fade-out 0.3s ease-in-out;
}

.Town-Remove-Modal.appear {
  visibility: visible;
  animation: fade-in 0.3s ease-in-out;
}

.Town-Remove-Modal {
  margin: 0 auto;
  width: 90%;
  background: #F6F6F6;
  padding: 20px;
  font-weight: normal;
  font-size: 14px;
  color: #222222;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
  transition: 0.3s all;
}

.Town-Remove-Modal-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Town-Remove-Modal-Desc {
  margin-bottom: 20px
}

.Town-Remove-Button-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Town-Remove-Button-Wrapper > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#Remove-Town-Button {
  color: #F45452;
}

