.Leave-Chat-Modal-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Leave-Chat-Modal-Desc {
  margin-bottom: 20px
}

.Leave-Chat-Button-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Leave-Chat-Button-Wrapper > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#Leave-Chat-Button {
  color: #F45452;
}
