
@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
body {
    font-family: 'NanumBarunGothic';
    font-weight: 800;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    transition: all .3s ease-in;
    perspective: 1000px;
}

body {
    --background-button: linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);
    --background-purple: linear-gradient(45deg, #000000, #434343);
    --background: linear-gradient(45deg, #000000, #434343);


    --baemin: #12fff7;
    --back: #1d1d1d;
    --text: #1d1d1d;
    --white-text: white;
    --app: white;
    --red: #ED213A;
    --background-dark: linear-gradient(45deg, #000000, #434343);
    --header: linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);
    --gray: #F6F6F6;
    --dark-gray: #D7D7D7;
    --deep-gray: #888888;
    --dark: #222222;


    --baseX: 400px;
    --base-X: -400px;
    --baseY: 665px;
    --base_sY: 555px;
    --base_ssY: 505px;

    --outerX: 435px;
    --outerY: 700px;

    --halfX: 300px;
    --halfY: 450px;
    --half_Y: -600px;

    --cardX: 390px;
    --IPad: none;
    --Hheight: 50px;

    --slider-header: gray;

    --primary1: #2AC1BC;
    --primary2: #A0E1E0;

    background: var(--background);
}

.IPad {
    display: var(--IPad);
}


main {
    z-index: 2;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all .3s ease-in;
}

.isNotVisible {
    visibility: hidden;
}

.isNotDisplay {
    display: none;
}

#root {
    position: relative;
    width: var(--baseX);
    height: var(--baseY);

    transition: all 0.3s ease-in;
}


#rootouter {
    position: relative;
    border: 20px solid #000000;
    z-index: 1;
    background-color: var(--back);
    border-radius: 15px;
    transition: all 0.3s ease-in;
}

#root:hover {
    box-shadow: var(--app) 2px 2px 20px;
}

#buttonouter {
    position: fixed;
    bottom: 0;
    right: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 100vh;
}

#img-outer-div {
    position: relative;

    height: 100vh;
    display: flex;
    justify-content: flex-end;
}

#img-div {
    position: relative;
}

#img-outer {
    position: sticky;
    margin-top: 45vh;
    width: 400px;
}

.setbutton {
    width: 100px;
    height: 100px;
    background-color: #1d1d1d;
    border: none;
    border-radius: 50%;
    margin: 10px;
    box-shadow: black 3px 3px 20px;
}

.inner {
    bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#lefttitle {
    position: fixed;
    left: 10px;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#leftinner {
    width: 300px;
    height: 300px;
    padding: 20px;
    border-radius: 50%;
    background-color: #000000;
    box-shadow: 2px 2px 20px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lefttext {
    font-size: 50px;
    color: white;
    margin: 0;
}




.buttontext {
    transition: all .3s ease-in;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-image: var(--header);
    border-radius: 10px;
    background-clip: padding-box;
    border: 3px solid transparent;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}




.darkbutton {
    width: 100px;
    height: 100px;
    background-color: #1d1d1d;
    border: none;
    border-radius: 50%;
    margin: 10px;
    box-shadow: black 3px 3px 20px;
    cursor: pointer;
    transition: all .3s ease-in;
}

.darkbutton:hover {
    box-shadow: black 4px 4px 40px;
}

.sun {
    width: 40px;
}

.moon {
    width: 25px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: gray !important;
}

a {
    transition: all .3s ease-in;
}

a:link { 
    color: var(--text); 
    text-decoration: none;
}
 
a:visited { 
    color: var(--text);
    text-decoration: none;
}
 
a:hover { 
    color: var(--text);    
    text-decoration: none;
}


