.LineInput {
    position: relative;
    font-weight: 800;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

.LineInput label {
    position: absolute;
    top: 0px;
    bottom: 5px;
    left: 0px;
    font-size: 16px;
    color: var(--deep-gray);
    transition: all 0.3s ease-in-out;
}

.LineInput input {
    border: 0;
    border-bottom: 2px solid var(--deep-gray);
    border-radius: 2px;
    background: transparent;
    width: 100%;
    min-width: 300px;
    padding: 8px 0 8px 0;
    font-size: 12px;
    font-weight: 800;
    color: var(--deep-gray);
    transition: all 0.3s ease-in-out;
}

.LineInput input:focus {
    font-weight: 800;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--baemin);
    border-radius: 2px;
}

.LineInput input:focus + label{
    top: -12px;
    font-size: 12px;
    color: var(--dark-gray);
}

/* .LineInput input:focus~label,
.LineInput input:valid~label {
    top: -12px;
    font-size: 12px;
    color: var(--dark-gray);
} */