* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#Town-Inner {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: var(--baseX);
  height: var(--baseY);
  background-color: var(--app);
}

.Town-Description {
  color: #888888;
  font-weight: normal;
  margin: 40px 0;
}

.Town-Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  width: 100%;
  height: 60px;
  background-color: #F6F6F6;
  border-bottom: 1px solid #D7D7D7;
}

.Town-Header > * {
  flex-grow: 1;
}

.Town-Header > h4 {
  font-size: 18px;
  color: #222222;
  font-weight: normal;
}

.Town-List {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Town-Add-Modal-Wrapper {
  position: absolute;
  z-index: 10;
  height: var(--baseY);
  width: var(--baseX);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
}

.Town-Add-Modal {
  margin: 0 auto;
  width: 90%;
  background: #F6F6F6;
  padding: 20px;
  font-weight: normal;
  font-size: 14px;
  color: #222222;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(204, 204, 204, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.Town-Add-Modal-Content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.Town-Add-Modal-Desc {
  margin-bottom: 10px;
}

.Town-Add-Modal-Content > input {
  width: 100%;
  border: 1px solid #D7D7D7;
  padding: 8px;
  background-color: white;
  border-radius: 8px;
  outline: none;
  margin-bottom: 15px;
}

.Town-Add-Modal-Content > input:focus {
  border: 1px solid #2AC1BC;
}

.Town-Add-Button-Wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.Town-Add-Button-Wrapper > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.Town-Item {
  padding: 0px 16px;
  height: 45px;
  border-radius: 8px;
  width: 175px;
  margin: 5px 0px;
}

#Add-Town-Button {
  color: #2AC1BC;
}

#Add-Town-Button:disabled {
  color: #888888;
}