.DisplayPickerOuter {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#DisplayPicker {
    position: relative;
    background-color: black;
    z-index: 1;
    transform: translateX(var(--halfX));
    width: 100px;
    height: 200px;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-item {
    background-color: white;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    transition: all .3s ease-in;
}

.display-item:hover {
    transform: scale(1.2);
}